@import "tailwindcss";

:root {
  --font-heading: var(--font-dm-serif-text), var(--font-noto-serif-kr), serif;
  --font-body: var(--font-noto-serif-kr), serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, .english-title {
  font-family: var(--font-heading);
}