@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-default: Noto Serif KR, sans-serif, ui-sans-serif;
  --font-english: Dm Serif Text, Times, Noto Serif KR, sans-serif, ui-sans-serif;
  --font-script: Great Vibes, cursive;
  --color-black: #23261f;
  --color-green-100: #e2e2cb;
  --color-green-200: #dbe2cb;
  --color-green-300: #ced7b9;
  --color-green-400: #bec6a9;
  --color-green-500: #abb593;
  --color-apricot-100: #f7f2e8;
  --color-apricot-200: #f3e9d7;
  --color-apricot-300: #e8d5b5;
  --color-apricot-400: #e0b7a6;
  --color-apricot-500: #da9f87;
  --color-apricot-600: #a95851;
}
