*{font-family: 'Noto Serif KR';

}

.main{
background-color:#DBE2CB;
left: 0px;
height:100%;
width: 100%;
position:relative;
}

/*--------------------------------*/

.image{
position:fixed;
display: inline-block;
top: 30%;
left: 50%;
transform:translate(-50%,0%);
}

.image_디시디아{
  position:fixed;
  display: inline-block;
  top: 68px;
  left: 50%;
  transform:translate(-50%,0%);
}

.image_고무나무{
    position:fixed;
    display: inline-block;
    top: 20%;
    left: 50%;
    transform:translate(-50%,0%);
}


@media(max-width:1350px){
.image{
opacity:0%;
}
.image_고무나무{
  opacity:0%;
  }
  .image_디시디아{
    opacity:0%;
    }
}

.up{
display:flex;
flex-flow: row wrap;
align-items: center;
justify-content:space-between;
padding: 70px 150px
}

.up h1{
font-size: 48px;
margin: 0px 0px 10px;

}

.name{
  z-index: 98;
}

.name p{
margin: 10px 0px 0px;
width:300px;
font-size: 24px;
}

.number{
display:flex;
flex-flow: row nowrap;
align-items: center;
}

.button_cart{
position: relative;
border: none;
background-color: #6A7564;
padding: 10px 100px 15px 100px;
font-family: 'Noto Serif KR';
margin: 20px 0px;
cursor: pointer;
font-size: 18px;
right: 0%;
color: white;
font-size:18px;
border-radius: 14px;
flex-wrap: nowrap;
}

/*--------------------------------*/

.down{
display:flex;
flex-flow: row wrap;
align-items: center;
justify-content:space-between;
padding: 70px 150px;
}

.left{
z-index: 99;
}

.right{
z-index: 98;
}

.down dt{
font-family: 'Cardo', serif;
font-size: 48px;
margin: 20px 0px 10px;
}

.down dd{
margin: 5px 0px 40px;
width:300px;
font-size: 24px;
}

.down img{
margin: 20px 0px;
}


/*--------------------------------*/

.b0{
  position: absolute;
  top:100px;
  left: 140px;
  z-index: 1;
}

.b1{
position: absolute;
top:683px;
left: 0px;
z-index: 1;
}

.b2{
position: absolute;
top:863.57px;
right: 0px;
z-index: 2;
}

.b3{
left: 0px;
z-index: 1;
}

.countp{
margin: 0px 3px 10px 0px;
font-size: 18px;
border-style: solid;
background-color: transparent;
border-width: 1px;
padding: 7px 20px;
cursor: pointer;
border-radius: 2px;
}

.sell h2{
font-size:24px;
margin: 20px 0px;
}

/*--------------------------------*/


.footer{
position: relative;
min-height:208px;
display: flex;
width: 100%;
left:0px;
flex: 1 1 auto;
align-items:center;
background-color: #F7F2E8;
padding: 50px;
z-index: 98;
font-family: 'Cardo', serif;
font-size: 20px;
text-align:center;
}